main{
    color: #7e50be;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: fit-content;
    background-color: #f0fac2;
    margin: 0 auto;
    padding: 20px;
}
