<article class="text--justified">
  <header><h2>Products</h2></header>

  <table *ngIf="products">
    <thead>
      <tr>
        <th>Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products.products">
        <td>{{product.name}}</td>
        <td>
          <a [routerLink]="['/categories', product.category,'products', product.id]">View</a>
        </td>
        <td>
          <a [routerLink]="['/categories', product.category,'products', product.id, 'edit']">Edit</a>
        </td>
        <td>
          <button (click)="onDelete(product)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</article>
