h1 {
    color: #7e50be;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    background-color: #f0fac2;
    padding: 20px;
  }